body {
 background-color: white;
}

.Form {
  /* text-align: center; */
  display: block;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.Form-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Form-title {
  font-size: 1.5em;
}

.Form-intro {
  font-size: large;
}

.message {
  position: absolute;
  width: 875px;
  height: 105px;
  left: 360px;
  top: 277px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #0072CE;
}

.blurb {
  position: absolute;
  width: 683px;
  height: 60px;
  left: 456px;
  top: 377px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.contact{
  position: absolute;
  width: 858px;
  height: 21px;
  left: 369px;
  top: 487px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}